#!/usr/bin/make -f

DB2MAN=/usr/share/xml/docbook/stylesheet/nwalsh/manpages/docbook.xsl
XMLLINT=$(shell command -v /usr/bin/xmllint || echo :) --valid --noout
XSLTPROC=/usr/bin/xsltproc

rhotate.1: manual.xml
	$(XMLLINT) $(<)
	$(XSLTPROC) $(DB2MAN) $(<)

.PHONY: build
build: rhotate.1
	$(MAKE)

.PHONY: clean
clean:
	$(MAKE) clean
	dh_clean

.PHONY: binary-indep
binary-indep:

.PHONY: binary-arch
binary-arch: build
	dh_clean -k
	dh_install rhotate usr/bin
	dh_installchangelogs
	dh_installdocs
	dh_installman *.1
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: binary
binary: binary-indep binary-arch

# vim:ts=4 sw=4
